* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  --orange: #ff914d;
  --lightOrange: #ffbd59;
  --gray: #919191;
  --white: #fafafa;

  --space: #9dd5e6;
  --sky: #d8fbff;

  font-size: 62.5%;
}

body,
button,
input,
textarea {
  /* clamp: intervalo de tamanho (min, default, max) */
  font-size: clamp(14px, 1.6rem, 2vw);
  font-family: 'Open Sans', sans-serif;
}

body {
  background-image: linear-gradient(var(--space), var(--sky));
}

ul {
  list-style: none;
}

/* Top and footer bar */
.bar {
  display: flex;
  align-items: center;

  background-color: var(--gray);
  height: 7rem;
}

.topBar {
  width: 100vw;
  position: fixed;
  z-index: 1;
}

.profilePicture {
  object-fit: cover;
  object-position: 100% 20%;
  clip-path: circle(50% at 50% 50%);
}

.topBar > .profilePicture {
  /* display: none; */
  width: 6rem;
  height: 6rem;

  margin-left: 3rem;
}

.topBar nav {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
}

.topBar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30rem;
}

.topBar nav ul li a {
  color: var(--lightOrange);
  font-size: 3rem;
}

/* Home section */

#home {
  display: flex;
  align-items: center;
}

#home .content {
  height: calc(100vh - 5rem);
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

#home .content > .profilePicture {
  /* display: none; */
  margin-right: 4rem;
  width: clamp(10rem, 30vw, 40rem);
  height: clamp(10rem, 30vw, 40rem);
}

#home .content > h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: clamp(2rem, 7vw, 7rem);
  font-weight: 800;
  width: 10vw;
}

#home > img {
  position: absolute;
  top: 10rem;
  right: 5rem;
  transform: rotate(25deg);
  width: clamp(10rem, 10vw, 20rem)
}

/* About section */

#about {
  display: flex;
  position: relative;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

/* About, Education content */
#about .content, #education .content {
  margin-top: 7rem;
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* About, Education, Languages h1 */
#about .content > h1, #education .content > h1, #languages .content > h1 {
  margin: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-size: clamp(2rem, 7vw, 7rem);
  font-weight: 800;
  text-align: center;
}

/* About p */
#about .content > p {
  margin-top: 3rem;
  width: clamp(30rem, 50vw, 100rem);
  font-size: clamp(2rem, 1.5vw, 3rem);
  font-weight: 400;
  text-align: justify;
}

#about > img {
  position: absolute;
  top: 10rem;
  left: clamp(1rem, 4vw, 10rem);
  transform: rotate(250deg);
  z-index: -1;
  width: clamp(10rem, 10vw, 20rem)
}

/* Education section */

#education {
  display: flex;
  position: relative;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

#education .content .educationItem {
  display: flex;
  align-items: center;
}

#education .content .educationItem p:first-of-type {
  width: clamp(10rem, 10vw, 20rem);
  font-size: clamp(1.3rem, 1.5vw, 3rem);
  font-weight: 400;
  text-align: center;
  color: var(--orange);
}

#education .content .educationItem p:nth-of-type(2) {
  margin: 2rem 3rem;
  width: clamp(30rem, 50vw, 100rem);
  font-size: clamp(2rem, 1.5vw, 3rem);
  font-weight: 400;
  text-align: justify;
}

#education > .rocket {
  position: absolute;
  bottom: clamp(30rem, 40vh, 50rem);
  right: clamp(1rem, 15vw, 50rem);
  z-index: -1;
  height: 25rem;
}

#education .rocket > img {
  position: absolute;
  transform: rotate(280deg);
  z-index: -1;
  width: 15rem;
}

#education .rocket > iframe{
  position: absolute;
  top: 7rem;
  left: 4rem;
  transform: rotate(145deg);
  z-index: -2;
  width: 20rem;
  height: 20rem;
}

/* Languages section */

#languages {
  position: relative;
}

#languages .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  padding-top: 7rem;
  margin-bottom: 20rem;
}

#languages > img {
  position: absolute;

  width: 25rem;
  top: 8rem;
  right: 5rem;
  z-index: -1;
}

#languages .content .languagesItem {
  display: flex;
  align-items: center;
  /* margin-bottom: 5rem; */
  height: 25rem;
}

#languages .content .languagesItem > img {
  width: 15rem;
}

#languages .content .left > img {
  margin-right: 3rem;
}

#languages .content .right > img {
  margin-left: 3rem;
}

#languages .content .languagesItem .languagesText{
  width: 50vw;
  font-size: clamp(2rem, 1.5vw, 3rem);
  font-weight: 400;
}

/*#languages .content .languagesItem .languagesText.left */
#languages .content div:nth-child(even){
  text-align: left;
}

/*#languages .content .languagesItem .languagesText.right */
#languages .content div:nth-child(odd){
  text-align: right;
}

/* Stars */
#languages .content .languagesItem .languagesText p:first-of-type {
  color: var(--gray);
}

/* Colored stars */
#languages .content .languagesItem .languagesText .colored {
  color: var(--orange);
}

/* Language description */
#languages .content .languagesItem .languagesText p:nth-of-type(2) {
  margin-top: 2rem;
}


/* Footer section */

footer .bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .topBar > .profilePicture {
    display: none;
  }

  #home .content {
    display: flex;
    
    flex-direction: column;
    justify-content: center;
  }

  #home .content > .profilePicture {
    margin-right: 0;
    margin-bottom: 2rem;
  }
  
  #home .content > h1 {
    width: 35vw;
    text-align: center;
  }
  
  #education .content .educationItem {
    flex-direction: column;
  }

  #education .content .educationItem p:nth-of-type(2) {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  
  #education > .rocket {
    position: absolute;
    transform: rotate(0deg);
    bottom: clamp(5rem, 5vw, 50rem);
    right: clamp(1rem, 50vw, 50rem);
  }
  #education .rocket > img {
    width: 10rem;
  }
  #education .rocket > iframe{
    width: 15rem;
    height: 15rem;
    top: 4rem;
    left: 2.3rem;
  }

  /* Languages */

  #languages > img {
    width: 15rem;
    top: 11rem;
    right: 2rem;
    z-index: -1;
  }

  #languages .content .languagesItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    height: auto;
  }
  
  /* Languages logos */
  #languages .content .languagesItem > img {
    width: 10rem;
    margin-bottom: 1rem;
    margin-right: 0rem;
    margin-left: 0rem;
    order: -1;
  }

  #languages .content .languagesItem .languagesText{
    width: 80vw;
    text-align: center;
  }

  /* Language description */
  #languages .content .languagesItem .languagesText p:nth-of-type(2) {
    text-align: justify;
  }
}